<div class="thebox">
  <div class="container">
    <h1>FFS <span>fan fiction scraper</span></h1>
    <form action="/" method="POST">
      <input type="text" name="url" placeholder="Enter the full URL of the page here">
      <button type="submit">Get my fix</button>
    </form>
    <p class="error">{{ error }}</p>
    <span class="shameless-self-promotion">made by <a href="https://twitter.com/JamesAlanHill" class="link-to-the-shameless-self-promotion">jimah</a></span>
  </div>
</div>
